@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
body {
  font-family: var(--font-outfit), sans-serif;
}

@theme {
  --font-primary: var(--font-onest);
  --font-secondary: var(--font-smooch);
}
